        .glowing {
            animation: glow 1.5s infinite alternate;
            background-color: #fff4cc !important;
            box-shadow: 0 0 10px #00F6FF, 0 0 20px #00F6FF, 0 0 30px #00F6FF;
        }

        @keyframes glow {
            from {
                box-shadow: 0 0 5px #00F6FF;
            }
            to {
                box-shadow: 0 0 20px #00F6FF, 0 0 30px #00F6FF;
            }
        }